[Unit]
Description=Calm box runner

[Service]
Type=simple
EnvironmentFile={REPLACE_ME}
ExecStartPre=/bin/bash $CALM_HOME/update.sh
ExecStart=/bin/bash -c "cd $CALM_HOME && /usr/bin/python3 -u run.py"

[Install]
WantedBy=multi-user.target
